{% extends 'base.html' %}

{% block title_block %}Email Send{% endblock %}



{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<a href="{% url "events:see-all-reconized-participant" pk=pk %}"> <button class="btn btn-dark btn-sm">See Recognized Ivitees of Event</button></a>
        <a href="{% url "events:see-all-unreconized-participant" pk=pk %}"> <button class="btn btn-dark btn-sm">See Unrecognized Ivitees of Event</button></a>
        <a href="{% url "events:detail" pk=pk %}"> <button class="btn btn-dark btn-sm">Back to Event</button></a>


<div style="margin:10px auto;padding:10px auto">
<a href="{% url 'scan:send_email_to' pk=pk %}"><button class="btn btn-info btn-lg" role="button"><span class="text">Send email to all</span></button></a>

<a href="{% url 'scan:send_email_to_remaining' pk=pk %}"><button class="btn btn-info btn-lg" role="button"><span class="text">Send email to remaining</span></button></a>
</div>
{% endblock %}