<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title_block %}{% endblock %}</title>

</head>

<body>


    {% load static %}

<nav class="navbar sticky-top fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'app:complete' %}">
  <img src="{% static 'images/favicon.png' %%}" width="30" height="30" class="d-inline-block align-center" alt="">
   <span class="navbar-brand mb-0 h1">ScanUP</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'app:scan' %}">Scan <span class="sr-only"></span></a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'app:complete' %}">Completed<span class="badge badge-light">{{ request.session.archive_count }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'app:remaining' %}">Remaining<span class="badge badge-light">{{ request.session.completed_count }}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin<span class="badge badge-light">{{ request.session.starred_count }}</span></a>
      </li>
       
    </ul>

</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block body_block %}{% endblock %}
    
</body>

</html>