Hello {{ name }} Your unique id is : {{ unique_id }}!!
This is ScanUp.
{{ email }} is your email id.
{{ phone_number }} is your contact number.
Event Name: {{ event_name }}!!!
Save the Date: {{ event_date }}
About Event: {{ about }}
Organizer: {{ created_by }}
Organization or College : {{ organization_or_college }}

Address of the event {{ address }}
Below is your individual one-time-use QR code. 
You need to scan it at the venue and do not share it with anyone because if you do so, your entry will be terminated.

Do not reply to this message.


ignore: {{extra_fields}}